
{% extends "base.html" %}

{% block content %}

<div class="login-page">

    <!-- Background overlay -->
    <div class="login-overlay"></div>


    <!-- Login container -->
    <div class="login-container">

        <div class="login-card">


            <!-- Header -->

            <div class="login-header">

                <div class="login-emblem">
                    🇮🇳
                </div>

                <h1>
                    Welcome Back
                </h1>

                <p>
                    Login to access the Public Infrastructure System.
                </p>

            </div>


            <!-- Login Form -->

            <form method="POST">

                {% csrf_token %}

                {{ form.non_field_errors }}


                <!-- Username -->

                <div class="form-group">

                    <label class="form-label">
                        Username
                    </label>

                    {{ form.username }}

                    {{ form.username.errors }}

                </div>


                <!-- Password -->

                <div class="form-group">

                    <label class="form-label">
                        Password
                    </label>

                    {{ form.password }}

                    {{ form.password.errors }}

                </div>


                <!-- Login Button -->

                <button
                    type="submit"
                    class="login-button"
                >
                    Login
                </button>

            </form>


            <!-- Register Link -->

            <div class="register-link">

                Don't have an account?

                <a href="{% url 'accounts:register' %}">
                    Register
                </a>

            </div>


        </div>

    </div>

</div>

{% endblock %}